{% extends "layout.html" %}
{% block content %}
    
    <div>
        <p>
            <div class="content-section">
                <form method='post' action="">

                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        
                        <div class="form-group">
                            {{ form.new_name.label(class="form-control-label") }}
        
                            {% if form.new_name.errors %}
                                {{ form.new_name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.new_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.new_name(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        
                        
                    </fieldset>
                    <div class="form-group" align="center">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
            <p align="center">
                <a href="{{ url_for('main.home') }}"><input type="button" value="Go To Home"></a>
            </p>
        </p>
        
            
    </div>
{% endblock content %}



