{% extends "layout.html" %}
{% block content %}
<center><div class="content-section">
    <table cellpadding="8" border="2">
        <tr>
            <thead>
           <th> <center>Cement</center></th>
            <th><center>Food</center></th>
            <th><center>Plastic</center></th>
            <th><center>Textile</center></th>
            </thead>
        </tr>
        <tr>
            <tbody>
            <td><a href="{{ url_for('classstock.classstock_result', number=1) }}?"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=2) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=3) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=4) }}"><center><input type="button" value="click me"></center></a></td>
            </tbody>
        </tr>
        <tr>
            <thead>
            <th><center>Motor</center></th>
            <th><center>Electrical</center></th>
            <th><center>Chemistry</center></th>
            <th><center>Biomedical</center></th>
            </thead>
        </tr>
        <tr>
            <tbody>
            <td><a href="{{ url_for('classstock.classstock_result', number=5) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=6) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=7) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=8) }}"><center><input type="button" value="click me"></center></a></td>
            </tbody>
        </tr>
        <tr>
            <thead>
            <th><center>Glass</center></th>
            <th><center>Paper</center></th>
            <th><center>Steel</center></th>
            <th><center>Rubber</center></th>
            </thead>
        </tr>
        <tr>
            <tbody>
            <td><a href="{{ url_for('classstock.classstock_result', number=9) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=10) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=11) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=12) }}"><center><input type="button" value="click me"></center></a></td>
            </tbody>
        </tr>
        <tr>
            <thead>
            <th><center>Car</center></th>
            <th><center>Semiconductor</center></th>
            <th><center>Computer Peripherals</center></th>
            <th><center>Photovoltaic industry</center></th>
            </thead>
        </tr>
        <tr>
            <tbody>
            <td><a href="{{ url_for('classstock.classstock_result', number=13) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=14) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=15) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=16) }}"><center><input type="button" value="click me"></center></a></td>
            </tbody>
        </tr>
        <tr>
            <thead>
            <th><center>Communication network</center></th>
            <th><center>Electronic components</center></th>
            <th><center>Electronic pathway</center></th>
            <th><center>Information service</center></th>
            </thead>
        </tr>
        <tr>
            <tbody>
            <td><a href="{{ url_for('classstock.classstock_result', number=17) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=18) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=19) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=20) }}"><center><input type="button" value="click me"></center></a></td>
            </tbody>
        </tr>
        <tr>
            <thead>
            <th><center>Other electronics</center></th>
            <th><center>Construction</center></th>
            <th><center>Shipping</center></th>
            <th><center>Travel</center></th>
            </thead>
        </tr>
        <tr>
            <tbody>
            <td><a href="{{ url_for('classstock.classstock_result', number=21) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=22) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=23) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=24) }}"><center><input type="button" value="click me"></center></a></td>
            </tbody>
        </tr>
        <tr>
            <thead>
            <th><center>Financial</center></th>
            <th><center>Department store</center></th>
            <th><center>Oil gas</center></th>
            <th><center>Depository receipt</center></th>
            </thead>
        </tr>
        <tr>
            <tbody>
            <td><a href="{{ url_for('classstock.classstock_result', number=25) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=26) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=27) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=28) }}"><center><input type="button" value="click me"></center></a></td>
            </tbody>
        </tr>
        <tr>
            <thead>
            <th><center>Beneficiary securities</center></th>
            <th><center>Other</center></th>
            </thead>
        </tr>
        <tr>
            <tbody>
            <td><a href="{{ url_for('classstock.classstock_result', number=29) }}"><center><input type="button" value="click me"></center></a></td>
            <td><a href="{{ url_for('classstock.classstock_result', number=30) }}"><center><input type="button" value="click me"></center></a></td>
            </tbody>
        </tr>
    </table>
</div></center> 
{% endblock content %}